body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Old Mincho', serif;
    background-color: #f8e21931;
}

/* HEADER-IMAGE */

.header-image > img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.548);
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.767);
}
.nav-items {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
    
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.548); */
}
/* .logo {
    align-content: left;
} */

/* .logo a {
    font-size: 4rem;
    font-weight: 700;
    margin-left: .7rem;
    text-decoration: none;
    color: #17d117;   
} */

ul > li {
    font-size: 1.4rem;
    list-style-type: none;
}

.nav-items a {
    text-decoration: none;
    /* color: #57a9bd; */
    color: #f8e119;
}
ul > li a:hover {
    color: #fafafa;
}

/* HEADER NAME */

.header-container {
    height: 95vh;
}

.header-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    color: #f8e119;
    text-shadow:6px 6px rgba(0, 0, 0, 0.658);
} 

/* MAIN CONTENT 1ST  */
blockquote {
    text-align: right;
    font-size: 1.3rem;
    margin: 4rem 2rem 0 0;
    /* border: 1px solid black; */
}

/* blockquote p {
    margin: 0.6rem;
} */

.main-header {
    font-size: 3rem;
    margin: 6rem 0 2rem 10%;
    /* font-weight: 700; */
    text-transform: uppercase;
    background-color: #f8e119;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-right: none;
}

#para {
    text-align: justify;
    font-size: 1.4rem;
    margin: 0 10.5%;
    word-spacing: 1px;
}

.main-container {
    display: grid;
    grid: auto-flow 28rem / repeat(4, 1fr);
    width: 80%;
    margin: 4rem auto;
    grid-gap: .8rem;
}

.main-container > div > a > img {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 4%;
    box-shadow: .15rem .15rem 0 0 rgba(0, 0, 0, 0.548);
}

.main-container > div > h3 {
}

.main-container img[src]:hover {
    -ms-transform: scale(1.029);
    -webkit-transform: scale(1.029);
    transform: scale(1.029);
    transition: all 0.7s ease-out;
}
.main-container > div > a {
    text-decoration: none;
}

.site-nav {
    display: flex;
    justify-content: space-around;
    /* flex-flow: row wrap; */
    margin-top: 6rem;
    background-color: rgba(0, 0, 0, 0.842);
}

.site-nav > div > h4 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: blanchedalmond;
}
.site-nav-items {
    padding: 0.4rem;
}
.site-nav-items li {
    font-size: 1.1rem;
    color: #f8e21967;
}

.site-nav-items a {
    color: #f8e21967;
}

.site-nav p {
    font-size: 1.1rem;
    color: #f8e21967;
}

.site-nav i {
    font-size: 2rem;
    /* color: #f8e119; */
    margin: 1.5rem 2.3% ;
}
.site-nav button{
    color: #f8e21967;
    font-size: 1.2rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.527);
    border-radius: 7px;
    margin-top: 2rem;
    cursor: pointer;  
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f8e21967;
    border-top: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.842);
}

/* ---FORESTS--- */