body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Old Mincho', serif;
    
}

/* HEADER-IMAGE */

.bg-image > img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;

}
.bg-image2 > img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}

/* NAVIGATION BAR */
nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0, .800);
}
.nav-items {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
}
.bgc {
    background-color: rgba(0, 0, 0, 0.452);
    
}
ul > li {
    font-size: 1.4rem;
    list-style-type: none;
    color: white;
    text-shadow: .05rem .05rem black;
}

ul > li a {
    text-decoration: none;
    color: #2bac2b;
}
ul > li a:hover {
    color: white;
}
a {
    padding: 0 20px;
}
.active {
    background-color: rgba(255, 255, 255, 0.883);
}

/* HEADER NAME */
.header-container {
    height: 95vh;
}
.footer {
    display: fixed;
    bottom: 0;
    text-align: center;
    color: #17d117;
    border-top: 2px solid rgba(0, 0, 0, 0.548);
    background-color: grey;
}
blockquote {
    margin-top: 20px;
    font-style: italic;
}

/* MAIN */
.image-text {
    height: 100%;
    height: 46.9rem;
}
.facts {
    color: white;
    font-size: 28px;
    padding: .7rem;
    margin: 50px 150px 100px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    animation: ml 7s 1;
    animation-timing-function: ease-out;
    
}
@keyframes ml {
    from {right: -50px;}
    to {right: 0px;}
}
.quote {
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: .7rem;
    margin: 0 150px;
    width: 70%;
    position: relative;
    animation: mr 7s 1;
    animation-timing-function: ease-out;
}
@keyframes mr {
    from {left: -50px;}
    to {left: 0px;}
}
.reasons {
    /* background-image: url(/images/forestsbg2.jpg); */
    background-color: #2bac2ba6;
}
.mid-text1 {
    background-color: #fbfffb9b;
    text-align: center;
    font-size: x-large;
    border: 1px solid black;
    
}
.mid-text-flex {
    background-color: #fbfffb9b;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    flex-flow: row;
    border: 1px solid black;
}
.col1 {
    /* background-color: #7a8f63; */
    text-align: left;
    font-size: x-large;
    width: 30rem;
    padding: 0;
}
.col2 {
    /* background-color: #6fac6f81; */
    text-align: left;
    font-size: x-large;
    width: 30rem;
}
h2 {
    background-color: #6f946f;
    padding: 0;
    margin: 0;
    border-bottom: 1.5px solid black;
    text-align: center;
}
h3 {
    background-color: #6f946f;
    margin: 0;
    border-bottom: 1.5px solid black;
    text-align: center;
}

/* FOOTER */
.site-nav {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    /* margin-top: 6rem; */
    background-color: rgba(0, 0, 0, 0.842);
}

.site-nav > div > h4 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: blanchedalmond;
}
.site-nav-items {
    padding: 0.4rem;
}
.site-nav-items li {
    font-size: 1.1rem;
    color: #f8e21967;
}

.site-nav-items a {
    color: #f8e21967;
}

.site-nav p {
    font-size: 1.1rem;
    color: #f8e21967;
}

.site-nav i {
    font-size: 2rem;
    /* color: #f8e119; */
    margin: 1.5rem 2.3% ;
}
.site-nav button{
    color: #f8e21967;
    font-size: 1.2rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.527);
    border-radius: 7px;
    margin-top: 2rem;
}
.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #f8e21967;
    border-top: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.842);
}

